In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\ABDULLAH\\Downloads\\multi_index_warehouses.csv',index_col=[0,1,2],header=[0,1])

In [5]:
df.sort_index(inplace=True)

In [7]:
# it is essential to sort it
df.sort_index(inplace=True)
df

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

In [9]:
df.loc[('NY Warehouses','Buffalo','Mobile'),('2012')]

Jan-Jun    18
Jul-Dec    10
Name: (NY Warehouses, Buffalo, Mobile), dtype: int64

In [11]:
df.loc['TX Warehoused':,['2015','2017']]

                                  2015            2017
                               Jan-Jun Jul-Dec Jan-Jun Jul-Dec
TX Warehouses Arlington AC          28      13      29      15
                        Mobile      12      15      27      18
                        TV          28      28      22      21
              Austin    AC          20      16      14      13
                        Mobile      26      20      13      27
                        TV          14      13      10      16
              Houston   AC          25      15      21      26
                        Mobile      11      22      22      26
                        TV          22      11      28      24

In [13]:
# for nameing the index and header(rows-columns) use
df.index,df.columns
# here you can see it's multiindex

(MultiIndex([('CA Warehouses',   'Los Angeles',     'AC'),
             ('CA Warehouses',   'Los Angeles', 'Mobile'),
             ('CA Warehouses',   'Los Angeles',     'TV'),
             ('CA Warehouses',     'San Diego',     'AC'),
             ('CA Warehouses',     'San Diego', 'Mobile'),
             ('CA Warehouses',     'San Diego',     'TV'),
             ('CA Warehouses', 'San Francisco',     'AC'),
             ('CA Warehouses', 'San Francisco', 'Mobile'),
             ('CA Warehouses', 'San Francisco',     'TV'),
             ('NY Warehouses',        'Beacon',     'AC'),
             ('NY Warehouses',        'Beacon', 'Mobile'),
             ('NY Warehouses',        'Beacon',     'TV'),
             ('NY Warehouses',       'Buffalo',     'AC'),
             ('NY Warehouses',       'Buffalo', 'Mobile'),
             ('NY Warehouses',       'Buffalo',     'TV'),
             ('NY Warehouses',        'Ithaca',     'AC'),
             ('NY Warehouses',        'Ithaca', 'Mobile'),
             ('NY Warehouses',        'Ithaca',     'TV'),
             ('TX Warehouses',     'Arlington',     'AC'),
             ('TX Warehouses',     'Arlington', 'Mobile'),
             ('TX Warehouses',     'Arlington',     'TV'),
             ('TX Warehouses',        'Austin',     'AC'),
             ('TX Warehouses',        'Austin', 'Mobile'),
             ('TX Warehouses',        'Austin',     'TV'),
             ('TX Warehouses',       'Houston',     'AC'),
             ('TX Warehouses',       'Houston', 'Mobile'),
             ('TX Warehouses',       'Houston',     'TV')],
            ),
 MultiIndex([('2010', 'Jan-Jun'),
             ('2010', 'Jul-Dec'),
             ('2011', 'Jan-Jun'),
             ('2011', 'Jul-Dec'),
             ('2012', 'Jan-Jun'),
             ('2012', 'Jul-Dec'),
             ('2013', 'Jan-Jun'),
             ('2013', 'Jul-Dec'),
             ('2014', 'Jan-Jun'),
             ('2014', 'Jul-Dec'),
             ('2015', 'Jan-Jun'),
             ('2015', 'Jul-Dec'),
             ('2016', 'Jan-Jun'),
             ('2016', 'Jul-Dec'),
             ('2017', 'Jan-Jun'),
             ('2017', 'Jul-Dec'),
             ('2018', 'Jan-Jun'),
             ('2018', 'Jul-Dec'),
             ('2019', 'Jan-Jun'),
             ('2019', 'Jul-Dec')],
            ))

In [15]:
# To name it
df.index.names=(['state','city','product'])
df.columns.names=['year','semester']
df

year                                   2010            2011            2012  \
semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
state         city          product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

year                                           2013            2014          \
semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
state         city          product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

year                                   2015            2016            2017  \
semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
state         city          product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

year                                           2018            2019
semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
state         city          product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [17]:
# to identfy and number in data use
# df.loc[(row),(column)]
# here i want to get 27
df.loc[('CA Warehouses','San Diego','Mobile'),('2010','Jul-Dec')]

27

In [19]:
# to change year from string to int use
print(len(df.columns.levels))
print('----------------------')
print(df.columns.levels)
print('----------------------')
print(df.columns)

2
----------------------
[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'], ['Jan-Jun', 'Jul-Dec']]
----------------------
MultiIndex([('2010', 'Jan-Jun'),
            ('2010', 'Jul-Dec'),
            ('2011', 'Jan-Jun'),
            ('2011', 'Jul-Dec'),
            ('2012', 'Jan-Jun'),
            ('2012', 'Jul-Dec'),
            ('2013', 'Jan-Jun'),
            ('2013', 'Jul-Dec'),
            ('2014', 'Jan-Jun'),
            ('2014', 'Jul-Dec'),
            ('2015', 'Jan-Jun'),
            ('2015', 'Jul-Dec'),
            ('2016', 'Jan-Jun'),
            ('2016', 'Jul-Dec'),
            ('2017', 'Jan-Jun'),
            ('2017', 'Jul-Dec'),
            ('2018', 'Jan-Jun'),
            ('2018', 'Jul-Dec'),
            ('2019', 'Jan-Jun'),
            ('2019', 'Jul-Dec')],
           names=['year', 'semester'])

In [21]:
# so if you want to change the year from strin to int use
df.columns.levels[0].astype(int).inplace=True
df.columns

MultiIndex([('2010', 'Jan-Jun'),
            ('2010', 'Jul-Dec'),
            ('2011', 'Jan-Jun'),
            ('2011', 'Jul-Dec'),
            ('2012', 'Jan-Jun'),
            ('2012', 'Jul-Dec'),
            ('2013', 'Jan-Jun'),
            ('2013', 'Jul-Dec'),
            ('2014', 'Jan-Jun'),
            ('2014', 'Jul-Dec'),
            ('2015', 'Jan-Jun'),
            ('2015', 'Jul-Dec'),
            ('2016', 'Jan-Jun'),
            ('2016', 'Jul-Dec'),
            ('2017', 'Jan-Jun'),
            ('2017', 'Jul-Dec'),
            ('2018', 'Jan-Jun'),
            ('2018', 'Jul-Dec'),
            ('2019', 'Jan-Jun'),
            ('2019', 'Jul-Dec')],
           names=['year', 'semester'])

In [23]:
df=df.columns.set_levels(levels=df.columns.levels[0].astype(int),level=0)
df

MultiIndex([(2010, 'Jan-Jun'),
            (2010, 'Jul-Dec'),
            (2011, 'Jan-Jun'),
            (2011, 'Jul-Dec'),
            (2012, 'Jan-Jun'),
            (2012, 'Jul-Dec'),
            (2013, 'Jan-Jun'),
            (2013, 'Jul-Dec'),
            (2014, 'Jan-Jun'),
            (2014, 'Jul-Dec'),
            (2015, 'Jan-Jun'),
            (2015, 'Jul-Dec'),
            (2016, 'Jan-Jun'),
            (2016, 'Jul-Dec'),
            (2017, 'Jan-Jun'),
            (2017, 'Jul-Dec'),
            (2018, 'Jan-Jun'),
            (2018, 'Jul-Dec'),
            (2019, 'Jan-Jun'),
            (2019, 'Jul-Dec')],
           names=['year', 'semester'])

In [25]:
df

MultiIndex([(2010, 'Jan-Jun'),
            (2010, 'Jul-Dec'),
            (2011, 'Jan-Jun'),
            (2011, 'Jul-Dec'),
            (2012, 'Jan-Jun'),
            (2012, 'Jul-Dec'),
            (2013, 'Jan-Jun'),
            (2013, 'Jul-Dec'),
            (2014, 'Jan-Jun'),
            (2014, 'Jul-Dec'),
            (2015, 'Jan-Jun'),
            (2015, 'Jul-Dec'),
            (2016, 'Jan-Jun'),
            (2016, 'Jul-Dec'),
            (2017, 'Jan-Jun'),
            (2017, 'Jul-Dec'),
            (2018, 'Jan-Jun'),
            (2018, 'Jul-Dec'),
            (2019, 'Jan-Jun'),
            (2019, 'Jul-Dec')],
           names=['year', 'semester'])

In [27]:
df.loc[('CA Warehouses','San Francisco','AC'):('NY Warehouses','Ithaca','Mobile'),:]

AttributeError: 'MultiIndex' object has no attribute 'loc'

In [29]:
df.loc[('CA Warehouses','San Francisco','AC'):('NY Warehouses','Ithaca','Mobile'),('2012'):("2015")]

AttributeError: 'MultiIndex' object has no attribute 'loc'

In [31]:
df.loc[('CA Warehouses','San Francisco','AC'):('NY Warehouses','Ithaca','Mobile'),[('2012'),("2015")]]

AttributeError: 'MultiIndex' object has no attribute 'loc'

In [33]:
df.loc[('CA Warehouses','San Francisco','AC'):('NY Warehouses','Ithaca','Mobile'),[('2012','Jan-Jun'),("2015",'Jan-Jun')]]

AttributeError: 'MultiIndex' object has no attribute 'loc'

# .xs() cross section

In [37]:
df.head()

AttributeError: 'MultiIndex' object has no attribute 'head'

In [39]:
df.xs('AC',level='product')

AttributeError: 'MultiIndex' object has no attribute 'xs'

In [41]:
# to show the product name use
df.xs('AC',level=2,drop_level=False)

# df.xs('AC',level='product',drop_leve=False)

AttributeError: 'MultiIndex' object has no attribute 'xs'

In [43]:
# another example
df.xs(('CA Warehouses','TV'),level=(0,2),drop_level=False)
#df.xs(('CA Warehouses','TV'),level=('state','product'),drop_level=False)

AttributeError: 'MultiIndex' object has no attribute 'xs'

In [45]:
# another example
df.xs(('CA Warehouses','TV'),level=(0,2),drop_level=False).sum()

AttributeError: 'MultiIndex' object has no attribute 'xs'

In [47]:
# filtring columns
df.xs("Jan-Jun",axis=1,level='semester',drop_level=False)

AttributeError: 'MultiIndex' object has no attribute 'xs'

# .take()

In [51]:
# look only on index
df.take([0,2,4,6,8,10])

MultiIndex([(2010, 'Jan-Jun'),
            (2011, 'Jan-Jun'),
            (2012, 'Jan-Jun'),
            (2013, 'Jan-Jun'),
            (2014, 'Jan-Jun'),
            (2015, 'Jan-Jun')],
           names=['year', 'semester'])

In [53]:
# look on columns
df.take([0,1,2,3],axis=1)

MultiIndex([(2010, 'Jan-Jun'),
            (2010, 'Jul-Dec'),
            (2011, 'Jan-Jun'),
            (2011, 'Jul-Dec')],
           names=['year', 'semester'])

# slice

In [57]:
df.loc[(slice(None),slice(None),['AC','TV']),:]

AttributeError: 'MultiIndex' object has no attribute 'loc'

In [59]:
df.loc[(slice(None),slice(None),['AC','TV']),'2015':'2019']

AttributeError: 'MultiIndex' object has no attribute 'loc'

In [61]:
# Rename

In [63]:
df.rename({'Mobile':'Laptop'},inplace=True)

In [65]:
df

MultiIndex([(2010, 'Jan-Jun'),
            (2010, 'Jul-Dec'),
            (2011, 'Jan-Jun'),
            (2011, 'Jul-Dec'),
            (2012, 'Jan-Jun'),
            (2012, 'Jul-Dec'),
            (2013, 'Jan-Jun'),
            (2013, 'Jul-Dec'),
            (2014, 'Jan-Jun'),
            (2014, 'Jul-Dec'),
            (2015, 'Jan-Jun'),
            (2015, 'Jul-Dec'),
            (2016, 'Jan-Jun'),
            (2016, 'Jul-Dec'),
            (2017, 'Jan-Jun'),
            (2017, 'Jul-Dec'),
            (2018, 'Jan-Jun'),
            (2018, 'Jul-Dec'),
            (2019, 'Jan-Jun'),
            (2019, 'Jul-Dec')],
           names=['year', 'semester'])

In [67]:
# Question 1
'''1. Boss: Give me detailed data about the San Francisco warehouse, and then tell me
how many items were sold in total from this warehouse over the 10 year period?'''

'1. Boss: Give me detailed data about the San Francisco warehouse, and then tell me\nhow many items were sold in total from this warehouse over the 10 year period?'

In [ ]:
df.loc['CA Warehouses','San Francisco',:]

In [ ]:
df.loc['CA Warehouses','San Francisco',:].sum()

In [ ]:
df.loc['CA Warehouses','San Francisco',:].sum().sum()

In [ ]:
# methon 2
df.xs('San Francisco',level=1,drop_level=False)

In [ ]:
df.xs('San Francisco',level=1,drop_level=False).sum().sum()

In [ ]:
# Question 2 
'''2. Boss: For some reason, give me a snapshot of the dataset from San Francisco's
TV row until Arlington's Mobile row.
'''

In [ ]:
df.loc[('CA Warehouses','San Francisco','TV'):('TX Warehouses','Arlington','Laptop'),:]

In [ ]:
# Question 3 
'''How many televisions did the buffalo warehouse sell during jan-jun of the year 2015'''

In [ ]:
df.loc[(('NY Warehouses'),('Buffalo'),('TV')),(('2015'),('Jan-Jun'))].sum()

In [ ]:
# Method 2
buf_tv=df.xs(('Buffalo','TV'), level=('city',"product"),drop_level=False)
buf_tv[('2015', 'Jan-Jun')]

In [ ]:
#  Question 4 
'''How many items did all of california and texas warehouses sell in total'''

In [ ]:
df.loc[(['CA Warehouses','TX Warehouses']),:].sum().sum()

In [ ]:
#  Question 5
''' How many TV's were sold in TX and CA warehouses during the ;year 2017'''

In [ ]:
df.loc[(['CA Warehouses','TX Warehouses']),(['2017'])]

In [ ]:
df.loc[(['CA Warehouses','TX Warehouses'],slice(None),['TV']),('2017')]

In [ ]:
df.loc[(['CA Warehouses','TX Warehouses'],slice(None),['TV']),('2017')].sum().sum()

In [ ]:
 Question 6
'''How many items were sold during the Jan-Jun period of each year for all the warehouses combined?'''

In [ ]:
df.xs('Jan-Jun',axis=1,level=1,drop_level=False).sum().sum()

In [ ]:
# Qusetion 7
'''
Give me list of all items that were sold in the Jul-Dec semester of the year 2010 for all warehouses.
'''

In [ ]:
df.xs('Jul-Dec',axis=1,level=1,drop_level=False)['2010']

# Working with MultiIndex DataFrame

In [ ]:
import pandas as pd
import numpy as np

# Create a sample MultiIndex DataFrame
dates = pd.date_range('2023-01-01', periods=5)
tickers = ['AAPL', 'MSFT', 'GOOGL']
columns = pd.MultiIndex.from_product([tickers, ['Open', 'High', 'Low', 'Close', 'Volume', 'RSI']])
data = np.random.randn(5, 18)

print(dates)
print(tickers)
print(columns)
print(data)

In [ ]:
multi_index_df = pd.DataFrame(data, index=dates, columns=columns)
multi_index_df

In [ ]:
#Accessing Data

#Selecting Columns (.xs (cross-section))

# Select all 'Close' prices for all tickers
close_prices = multi_index_df.xs('Close', level=1, axis=1)
print(close_prices)

# Select 'Open' and 'Close' prices for 'AAPL'
aapl_prices = multi_index_df['AAPL'][['Open', 'Close']]
print(aapl_prices)

# Select all columns for 'AAPL'
aapl_all = multi_index_df['AAPL']
print(aapl_all)

In [ ]:
# Selecting Rows

# Select data for a specific date
date_data = multi_index_df.loc['2023-01-01']
print(date_data)

# Select data for a range of dates
date_range_data = multi_index_df.loc['2023-01-01':'2023-01-03']
print(date_range_data)

In [ ]:
# Advanced Selection

# Select 'Close' prices for 'AAPL' on specific dates
aapl_close_selected_dates = multi_index_df.loc['2023-01-01':'2023-01-03', ('AAPL', 'Close')]
print(aapl_close_selected_dates)

# Select 'Close' and 'RSI' for all tickers on a specific date
selected_columns = multi_index_df.loc['2023-01-01', (slice(None), ['Close', 'RSI'])]
print(selected_columns)

In [ ]:
# Modifying Data

# Assigning New Values

# Assign a new value to a specific cell
multi_index_df.loc['2023-01-01', ('AAPL', 'Close')] = 150.0

# Assign new values to a specific column
multi_index_df.loc[:, ('AAPL', 'RSI')] = 50.0

# Assign new values to a specific row
multi_index_df.loc['2023-01-01'] = np.random.randn(18)

In [ ]:
# Adding New Data

# Add a new date
new_data = pd.DataFrame(np.random.randn(1, 18), index=[pd.Timestamp('2023-01-06')], columns=columns)
multi_index_df = pd.concat([multi_index_df, new_data])

# Add a new ticker
new_ticker_data = pd.DataFrame(np.random.randn(5, 6), index=dates, columns=pd.MultiIndex.from_product([['NFLX'], ['Open', 'High', 'Low', 'Close', 'Volume', 'RSI']]))
multi_index_df = pd.concat([multi_index_df, new_ticker_data], axis=1)

In [ ]:
pd.set_option.
multi_index_df

In [ ]:
# Dropping Data

# Dropping Columns

# Drop a specific column
multi_index_df = multi_index_df.drop(columns=('AAPL', 'RSI'))

# Drop multiple columns
multi_index_df = multi_index_df.drop(columns=[('AAPL', 'RSI'), ('MSFT', 'Volume')])

In [ ]:
# Dropping Rows

# Drop a specific row
multi_index_df = multi_index_df.drop(index=pd.Timestamp('2023-01-01'))

# Drop multiple rows
multi_index_df = multi_index_df.drop(index=[pd.Timestamp('2023-01-01'), pd.Timestamp('2023-01-02')])

In [ ]:
# Resetting the MultiIndex

# Reset the column MultiIndex
flat_columns_df = multi_index_df.copy()
flat_columns_df.columns = ['_'.join(col).strip() for col in flat_columns_df.columns.values]
print(flat_columns_df)

# Reset the row index
reset_index_df = multi_index_df.reset_index()
print(reset_index_df)